header { background-color:#800000; display:flex; margin-bottom: 50px;}
nav.top { text-align:center; color:#fff; display:flex; flex:1; justify-content:right;}
nav.top a.index {color:#fff;}
.body {width: 1200px; align-text: center; margin: auto;}
hr {width: 1200px; align-text: center; margin: auto;}
p.p { margin-bottom:50px; font-family: Arial, Helvetica, sans-serif;}
table {margin-top:50px; margin-bottom:50px; margin-left: 120px; width: 1200px; align-text: center; font-family: Arial, Helvetica, sans-serif;}
td, th { padding: 10px; text-align: center;}
#content { font-family: Arial, Helvetica, sans-serif;width: 1000px; margin:0 auto 100px;}
.grid { display:grid; grid-template-columns:repeat(11, 1fr); gap:15px;}
.grid-1 { grid-column: span 1;}
.grid-2 { grid-column: span 2;}
.grid-3 { grid-column: span 3;}
.grid-4 { grid-column: span 4;}
.grid-5 { grid-column: span 5;}
.grid-6 { grid-column: span 6;}
.grid-7 { grid-column: span 7;}
.grid-8 { grid-column: span 8;}
.grid-9 { grid-column: span 9;}
.grid-10 { grid-column: span 10;}
.grid-11 { grid-column: span 11;}
.grid-12 { grid-column: span 12;}
.period { background-color: black; border:1px solid #ddd; padding:20px; text-align:center; color:white;}
.table-of-time-schedule { margin-bottom: 50px; font-family: Arial, Helvetica, sans-serif;}
th { margin-bottom: 50px; font-family: Arial, Helvetica, sans-serif; background-color: black; color: white; width:"12%"}
